page-upload-image {
    .gallery-button {
        top: 50%;
        transform: translateY(-50%);
        position: absolute !important;
        margin:0 auto;
        width:94%;
    }
 
    p {
	    font-size: 20px;
    }
}
