<ion-header>

  <ion-navbar>
    <ion-title>Detail Information</ion-title>
    <ion-buttons end>
      <button ion-button icon-only *ngIf='!isFollowing' (click)="toggleFollow()">
        <ion-icon name="heart-outline"></ion-icon>
      </button>
      <button ion-button icon-only *ngIf='isFollowing' (click)="toggleFollow()">
        <ion-icon name="ios-heart" color="danger"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="shareImg()">
        <ion-icon name="md-share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-slides pager>
    <ion-slide *ngFor="let imgURL of house.pictures_url">
      <img [src]="imgURL">
    </ion-slide>
  </ion-slides>
  <h6>{{house.name}}</h6>
  <ion-list no-border>
    <ion-item>
      <ion-icon name="pin" color='danger' item-left></ion-icon>
      <ion-note>
        {{house.public_address}}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-pricetag" color='secondary' item-left></ion-icon>
      <ion-note>
        {{house.price / 1000000}} triệu VND
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-calculator" color="light" item-left></ion-icon>
      <ion-note>
        18m^2
      </ion-note>
    </ion-item>
  </ion-list>
  <ion-title>Description</ion-title>
  <p style="white-space: pre-line">
    {{house.description}}
  </p>
  <hr>
  <ion-title>House Rules</ion-title>
  <p style="white-space: pre-line">
    -Đi về trước 10h30p tối
    -Không được hút thuốc
    -Không nuôi thú vật
    -Bạn bè đến ở phải xin phép
  </p>

  <ion-card class="adv-map" (click)="mapTapped($event, house)">
    <div style="position: relative">
      <img src="https://maps.googleapis.com/maps/api/staticmap?maptype=roadmap&markers=41.384660156154446%2C2.180001899114807&size=480x320&zoom=15&client=gme-airbnbinc&channel=monorail-prod&signature=3P-iFyNCjgUjDOzc8dnPe-kB60E%3D">
      <ion-fab right top>
        <button ion-fab color="danger">
        <ion-icon name="pin"></ion-icon>
        </button>
      </ion-fab>
    </div>
    <ion-item actions>
      <button ion-button color="secondary" clear icon-left>
      <ion-icon name='navigate'></ion-icon>
      Start
    </button>
    </ion-item>
  </ion-card>
  <button ion-item (click)="reviewTapped($event, house._id)" icon-right>
    Read reviews
    <ion-icon md="ios-arrow-forward" item-right style="color: gray"></ion-icon>
  </button>
  <ion-item (click)="callMenu()">
    <ion-thumbnail item-left>
      <img src="{{house.primary_host.picture_url}}">
    </ion-thumbnail>
    <h2>{{house.primary_host.first_name}}</h2>
    <p>{{house.public_address}}</p>
    <p>{{house.phone_number}}</p>
    <p>Usually responds within a day</p>
  </ion-item>
  <button ion-button block (click)="callMenu()" class='fixed-bottom'>
    ENQUIRE NOW
  </button>
</ion-content>