<ion-header>

  <ion-navbar>
    <ion-title>Saved</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf='show'>
    <ion-card-header class="my-teams-header">Nothing saved yet</ion-card-header>
    <ion-card-content>
      <p>When you see something you like, tap on the heart to save it. </p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-card *ngFor='let house of favorites' (click)="houseTapped($event, house)">
      <ion-item>
        <ion-avatar item-left>
          <img src="{{house.primary_host.picture_url}}">
        </ion-avatar>
        <h2>{{house.primary_host.real_name}}</h2>
        <p>{{house.public_address}}</p>
      </ion-item>
      <img src='{{house.picture_url}}' />
      <ion-card-content>
        <p>
          <span>{{house.price / 1000000}} triệu VND</span> {{house.name}}
        </p>
        <ion-item class='no-padding'>
          <img src="{{getRatingImg(house.star_rating)}}" item-left/>
          <p style="color: #387ef5">{{house.reviews_count}} reviews</p>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>