<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="main-content">
  <ion-list>
    <ion-row>
      <ion-col col-6>
        <ion-card *ngFor='let house of col1' (click)="houseTapped($event, house)" class='no-padding'>
          <img src='{{house.picture_url}}' style="max-height: 200px"/>
          <ion-card-content>
            <ion-row>
              <ion-col col-7>
               <span>{{house.price / 1000000}} triệu</span> 
              </ion-col>
              <ion-col col-5>
                <span style="color: green">{{house.distance.toFixed(2)}}km</span>
              </ion-col>
            </ion-row>
            <p> {{house.name}} </p>
            <ion-item class='no-padding no-margin'>
              <img src="{{getRatingImg(house.star_rating)}}" item-left/>
              <p>{{house.reviews_count}} reviews</p>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card class='no-padding' *ngFor='let house of col2' (click)="houseTapped($event, house)">
          <img src='{{house.picture_url}}' style="max-height: 200px"/>
          <ion-card-content>
            <ion-row>
              <ion-col col-7>
               <span>{{house.price / 1000000}} triệu</span> 
              </ion-col>
              <ion-col col-5>
                <span style="color: green">{{house.distance.toFixed(2)}}km</span>
              </ion-col>
            </ion-row>
            <p> {{house.name}} </p>
            <ion-item class='no-padding no-margin'>
              <img src="{{getRatingImg(house.star_rating)}}" item-left/>
              <p>{{house.reviews_count}} reviews</p>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>