<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="main-content">
  <ion-list>
    <ion-row *ngFor='let row of grid'>
      <ion-col col-6 *ngFor='let house of row' (click)="houseTapped($event, house)">
        <ion-card class='no-padding no-margin'>
          <img src='{{house.picture_url}}'/>
          <ion-card-content>
            <p>
              <span>{{house.price / 1000000}} triệu VND</span> {{house.name}}
            </p>
            <ion-item class='no-padding no-margin'>
              <img src="{{getRatingImg(house.star_rating)}}" item-left/>
              <p>{{house.reviews_count}} reviews</p>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>