page-home {
    ion-item {
        background-color: #fff;
        p {
            font-size: 0.7em !important;
            color: #387ef5 !important;
        }
    }
    ion-card {
        background-color: #fff;
        width: 100% !important;
        position: relative;
        margin-top: 10px !important;
    }
    ion-card-content {
        img {
            height: 40%;
            width: 40%;
        }
        span {
            font-weight: bold;
        }
    }
    .no-padding {
        padding: 0px !important;
    }
    .no-margin {
        margin: 0px !important;
    }
}
